/* Style the form */

/* Style the input fields */
.ms-form input {
  padding: 10px;
  width: 100%;
  font-size: 17px;
  font-family: Raleway, inherit;
  border: 1px solid #aaaaaa;
}

/* Mark input boxes that gets an error on validation: */
.ms-form input.invalid {
  background-color: #ffdddd;
}

/* Hide all steps by default: */
.ms-form .tab {
  display: none;
}

/* Make circles that indicate the steps of the form: */
.ms-form .step {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbbbbb;
  border: none;
  border-radius: 50%;
  display: inline-block;
  opacity: 0.5;
}

/* Mark the active step: */
.ms-form .step.active {
  opacity: 1;
}

/* Mark the steps that are finished and valid: */
.ms-form .step.finish {
  background-color:/* #04AA6D*/ #212529;
}
